<div>
  <div class="page-header">
    <h1>DragonBall - Detalle </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card panel panel-primary">
      <div class="panel-heading">
        <strong>Goku</strong>
      </div>
      <div class="panel-body">
        <a href="/#/123">
          <img src="images/goku.jpg">
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Datos</strong>
      </div>
      <div class="panel-body">
        <ul>
          <li>Power Level: 123124</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quam quidem ea rerum, aliquam numquam, excepturi esse voluptas totam, reiciendis sint quaerat nulla? Incidunt excepturi, voluptate saepe dicta aliquam laboriosam.</p>
      </div>
    </div>
  </div>
</div>